/*Main*/

@import url('https://fonts.googleapis.com/css?family-Montserrat');



header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    height: 200px;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(153, 214, 255, 0.45), 
      rgba(153, 214, 255, 0.45)
    ),
   url("../images/spitfire_headOn.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
  
.navRow {
 display: flex;
 background-color: #5f5f5f;
 font-size: 1.5em; 
 height: 50px;
 margin-bottom: 10px;
}

.navRow>ul 
{
 display: flex;
 width: 100%;
 justify-content: space-around;
 align-items: center;
 padding: 10px, 40px;
}

.navMenu:hover {  
  background-color: black;

}

.navRow>ul>li {
  height: 100%
  flex: 1;
  padding: 1em;
  color: white;
}

.navRow>ul>li>a {
 color: white;
 text-decoration: none;

}

main {
display: flex;
flex: 4;
}

aside {
display: flex;
flex: 1;
}

.flex {
  display: flex;
}

