/*Main*/

@import url('https://fonts.googleapis.com/css?family-Montserrat');



header {
  display: flex;
  flex-direction: column;
  justify-content: center;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(153, 214, 255, 0.45), 
      rgba(153, 214, 255, 0.45)
    ),
   url("../images/spitfire_headOn.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.navRow {
 display: flex;
 font-size: 1.5em;
 background-image: url("images/spitfire_headOn.jpg");
}

.navRow>ul 
{
 display: flex;
 width: 100%;
 justify-content: space-around;
 align-items: center;
 padding: 10px, 40px;

}

.navRow>ul>li {
  flex: 1;
  padding: 1em;
  color: Black;
}

main {
display: flex;
flex: 4;

}

aside {
display: flex;
flex: 1;
}

.flex {
  display: flex;
}

