/*Main*/

@import url('https://fonts.googleapis.com/css?family-Montserrat');

body{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

/* Variables */

/* Nav */
.navRow {
  display: flex;
  font-size: 1.5em;

}

.navRow > ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.navRow > ul > li {


}